<footer>
    <a href = "/" class='menuButton'>Home</a>
    <a href = '/nakota' class='menuButton'>Nakota</a>
    <a href = '/' class='menuButton'>data_test</a>
    <a href = '/' class='menuButton'>Memory App</a>
    <a href = 'http://simondevine.org' class='menuButton'>S-999</a>
</footer>
</body>
</html>