<header>
    <a href = "/FrontPage" class='menuButton'>Front Page</a>
    <a href = "/dashboard" class='menuButton'>Dashboard</a>
    <a href = "/" class='menuButton'>Home</a>
    <a href = "/" class='menuButton'>Home</a>
    <a href = "/" class='menuButton'>Home</a>
</header>