<%- include('./partials/head'); %>
    <title>Dashboard</title>
</head>
<body>
    <%- include('./partials/header'); %>
    <div id='d_board'>
<div id='grid-container'>



</div>
    </div>
    <%- include('./partials/footer'); %>