<%- include('./partials/head'); %>
    <title>Layers 1</title>
</head>
<body>
    <%- include('./partials/header'); %>
    <div id='d_board'>
<div id='grid-container_FrontPage'>
<div id='hero'>  
    <p id='bigBoldClaim'>This is the place where I make my big, bold claim.</p>
</div>

<div id='symbol_1'><img src="../img/Node.svg" alt=""></div>
<div id='symbol_2'><img src="../img/html.svg" alt=""></div>
<div id='symbol_3'><img src="../img/expressjs.svg" alt=""></div>
<div id='symbol_4'><img src="../img/mongo.svg" alt=""></div>
<div id='symbol_5'><img src="../img/css.svg" alt=""></div>
<div id='symbol_6'><img src="../img/JS.svg" alt=""></div>
<div id='symbol_7'><img src="../img/Heroku.svg" alt=""></div>
<div id='symbol_8'><img src="../img/Github.svg" alt=""></div>
<div id='symbol_9'><img src="../img/filezilla.svg" alt=""></div>
<div id='symbol_10'><img src="../img/d3.svg" alt=""></div>
<div id='symbol_11'><img src="../img/leafletjs.svg" alt=""></div>
<div id='symbol_12'><img src="../img/chartjs.svg" alt=""></div>


</div>
    </div>
    <%- include('./partials/footer'); %>