<%- include('./partials/head'); %>
    <title>Layers 1</title>
</head>
<body>
    <%- include('./partials/header'); %>
    <div id='d_board'>
<div id='button-container'>
    <table style="width:100%">
        <tr>
          <td><button class='menu' ><a href="">Button</a></button></td>
          <td><button class='menu' ><a href="">Button</a></button></td>
          <td><button class='menu' ><a href="">Button</a></button></td>
        </tr>
        <tr>
          <td><button class='menu' ><a href="">Button</a></button></td>
          <td><button class='menu' ><a href="">Button</a></button></td>
          <td><button class='active' ><a href="https://threejs.org/">Three.js</a></button></td>
        </tr>
        <tr>
          <td><button class='menu' ><a href="">Button</a></button></td>
          <td><button class='active' ><a href="https://css-tricks.com/snippets/css/complete-guide-grid/">CSS Grid</a></button> </td>
          <td><button class='active' ><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS Flexbox</a></button></td>
          
        </tr>
      </table>
    
     
</div>
    </div>
    <%- include('./partials/footer'); %>