<%- include('./partials/head'); %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <title>Nakota Isga</title>
</head>
<body>
    <%- include('./partials/header'); %>
               
    <div id='nakota'>

            <div id="mapid">
            </div> 
  

    </div>

  <script>
const abbottsfield = [
[53.576134826, -113.387633619],
[53.5746080627, -113.383627785],
[53.5735996908, -113.384054874],
[53.5729076487, -113.384370602],
[53.5722823691, -113.384656222],
[53.571725951, -113.38523989],
[53.5707061223, -113.387146583],
[53.5704535989, -113.388522229],
[53.5703892337, -113.389554811],
[53.5703768347, -113.39371166],
[53.5719151272, -113.39370625],
[53.5727667926, -113.393697906],
[53.5735426165, -113.393694019],
[53.5750916434, -113.393687355],
[53.5750917445, -113.394081479],
[53.5766286522, -113.394075382],
[53.5771640152, -113.394073961],
[53.5771914087, -113.39402871],
[53.5773145285, -113.39402858],
[53.5776394685, -113.39402686],
[53.5779100323, -113.393754929],
[53.5766014178, -113.388857964],
[53.576134826, -113.38763361]
]

const Aldergrove = [
    [53.5211114386,	-113.652091619],
    [53.5212778986,	-113.652092094],
    [53.5213506036,	-113.649111093],
    [53.521395118,	-113.646998488],
    [53.5214672693,	-113.644094384],
    [53.5216025109,	-113.637132345],
    [53.5215276454,	-113.633589897],
    [53.52128898,	-113.630468689],
    [53.5201234008,	-113.63059718],
    [53.5191377926,	-113.63063757],
    [53.5183591105,	-113.630582276],
    [53.517061128,	-113.630428777],
    [53.5148908732,	-113.63005407],
    [53.512174429,	-113.629909988],
    [53.5121953858,	-113.652072706],
    [53.512655388,	-113.652079307],
    [53.5129575674,	-113.652078975],
    [53.5195023085,	-113.652089099],
]

const Belmead = [
[53.5255018681,	-113.629926345],
[53.5246719432,	-113.629934415],
[53.5237486064,	-113.62998999],
[53.52128898,	-113.630468689],
[53.5215276454,	-113.633589897],
[53.5216025109,	-113.637132345],
[53.5214672693,	-113.644094384],
[53.521395118,	-113.646998488],
[53.5213506036,	-113.649111093],
[53.5212778986,	-113.652092094],
[53.5214443586,	-113.65209257],
[53.5216347687,	-113.652092469],
[53.5226485286,	-113.652094249],
[53.5240814784,	-113.652096249],
[53.5264847086,	-113.652100059],
[53.5299225025,	-113.652107624],
[53.5299280233,	-113.649328019],
[53.5298980992,	-113.649105739],
[53.529872563,	-113.643064203],
[53.5298365512,	-113.642036232],
[53.529761602,	-113.641207613],
[53.5296205713,	-113.640313216],
[53.529245398,	-113.638577383],
[53.5287261663,	-113.636511157],
[53.5284607896,	-113.634808972],
[53.5283812445,	-113.633499622],
[53.5284185589,	-113.631985011],
[53.528565928,	-113.630394134],
[53.5270341975,	-113.6300763],
[53.5263212897,	-113.629966615],
]

const Canora = [
    [53.5511130919,	-113.590361406],
    [53.5510827138,	-113.588617146],
    [53.5510491788,	-113.586868071],
    [53.5510508811,	-113.585092335],
    [53.5510457797,	-113.583351482],
    [53.5510534765,	-113.581590569],
    [53.5510447083,	-113.579827795],
    [53.5510611563,	-113.577965053],
    [53.5495039283,	-113.577993797],
    [53.5486118118,	-113.578089873],
    [53.546358563,	-113.578099236],
    [53.5440214222,	-113.578081942],
    [53.543284394,	-113.578072518],
    [53.5417442333,	-113.578050684],
    [53.5413112409,	-113.579769293],
    [53.5412737928,	-113.581532899],
    [53.5412844937,	-113.583285591],
    [53.5412857328,	-113.585033145],
    [53.5412912608,	-113.586789167],
    [53.5412893547,	-113.58855471],
    [53.5412950105,	-113.590325021],
    [53.5433090107,	-113.590313904],
    [53.5448582611,	-113.590335137],
    [53.5464036876,	-113.590330573],
    [53.5479573863,	-113.59034954],
    [53.5487076543,	-113.590369161],
    [53.5495088704,	-113.590366157],
]

const Glenora = [
    [53.5430412413, -113.550311842],
    [53.5425206974, -113.550311659],
    [53.5423539874, -113.549914463],
    [53.5422448989, -113.549794032],
    [53.5420914495, -113.549773053],
    [53.541953405, -113.549848634],
    [53.5418686329, -113.550002708],
    [53.5418373187, -113.550284683],
    [53.5418826161, -113.550590552],
    [53.5424952716, -113.552934499],
    [53.5426269767, -113.553566409],
    [53.5426314168, -113.554332511],
    [53.5429025131, -113.554479907],
    [53.5430383062, -113.554638034],
    [53.5430423603, -113.55532768],
    [53.5423760669, -113.555128203],
    [53.5422578524, -113.555056523],
    [53.5421376918, -113.554908113],
    [53.5420354845, -113.554628906],
    [53.5419409965, -113.553464199],
    [53.5411695236, -113.551412148],
    [53.5410083983, -113.551200298],
    [53.5408057362, -113.551122503],
    [53.5406037491, -113.551224562],
    [53.540425869, -113.551406304],
    [53.5402519162, -113.551048424],
    [53.5398989945, -113.550582529],
    [53.5396409041, -113.550453269],
    [53.5394542725, -113.550527656],
    [53.539316391, -113.550768555],
    [53.5392825931, -113.551278502],
    [53.5392971565, -113.551987777],
    [53.5389023094, -113.553041091],
    [53.538826354, -113.553421581],
    [53.5388698068, -113.553900733],
    [53.539002051, -113.554249058],
    [53.5389417325, -113.554358139],
    [53.5389416641, -113.554426354],
    [53.5389397388, -113.555023794],
    [53.5390066485, -113.55517572],
    [53.5394106727, -113.555173569],
    [53.5392509476, -113.555555388],
    [53.5391870363, -113.555975719],
    [53.5392046739, -113.556317758],
    [53.5392684836, -113.556671805],
    [53.5401406915, -113.559704205],
    [53.540178689, -113.559972376],
    [53.5401794885, -113.560189709],
    [53.5401455553, -113.560426098],
    [53.5400642666, -113.560655966],
    [53.5396971966, -113.561361959],
    [53.5394488318, -113.562039477],
    [53.5391631553, -113.564243359],
    [53.5394686611, -113.565661002],
    [53.5397364701, -113.565666901],
    [53.5403846164, -113.565669156],
    [53.5412391313, -113.565685735],
    [53.5421002237, -113.56568933],
    [53.5429244063, -113.565705711],
    [53.5440143569, -113.565731396],
    [53.5456706957, -113.565731117],
    [53.5463128629, -113.565749684],
    [53.5467315381, -113.565751198],
    [53.5477778025, -113.565752821],
    [53.5486026011, -113.565771765],
    [53.5487909718,	-113.565761777],
    [53.5509830564,	-113.565824575],
    [53.5509608442,	-113.561366415],
    [53.5509675848,	-113.555501139],
    [53.5509787412,	-113.549796964],
    [53.54944845, -113.54862516],
    [53.5494485182,	-113.549440531],
    [53.54944784, -113.549687716],
    [53.5493537135,	-113.549887831],
    [53.5488662524,	-113.549598677],
    [53.5486192071,	-113.54959776],
    [53.5486134787,	-113.548750532],
    [53.5482999892,	-113.548751564],
    [53.548300094, -113.54806196],
    [53.5482993716,	-113.547911789],
    [53.5483202735,	-113.547756632],
    [53.5483163948,	-113.547079096],
    [53.5480572586,	-113.547078541],
    [53.5480551895,	-113.546336932],
    [53.5479654271,	-113.546335521],
    [53.5477085909,	-113.546581851],
    [53.5475084716,	-113.546489944],
    [53.5473966673,	-113.546390909],
    [53.5473302842,	-113.546201183],
    [53.5471724994,	-113.545815593],
    [53.5470226664,	-113.54565291],
    [53.5467924881,	-113.54558966],
    [53.5465726401,	-113.545670051],
    [53.5461969778,	-113.545945143],
    [53.5457852521,	-113.545149535],
    [53.5456675457,	-113.544616683],
    [53.5456173284,	-113.544022796],
    [53.5455194372,	-113.543695714],
    [53.5453523685,	-113.54349115],
    [53.5451351093,	-113.543396377],
    [53.5448679377,	-113.543484224],
    [53.5446794165,	-113.543638156],
    [53.5444977902,	-113.543111909],
    [53.543826999, -113.541638243],
    [53.543691456, -113.541445771],
    [53.5435145508,	-113.541352609],
    [53.5430315623,	-113.54135783],
    [53.5429085896,	-113.541375737],
    [53.5424197507,	-113.541956645],
    [53.5417216363,	-113.542533354],
    [53.5409460481,	-113.54253146],
    [53.540691306, -113.543748121],
    [53.5403699148,	-113.545567696],
    [53.5405152884,	-113.54574894],
    [53.5400709526,	-113.547042407],
    [53.5400046652,	-113.547413682],
    [53.5400502875,	-113.547803526],
    [53.5402018211,	-113.548182362],
    [53.5403703963,	-113.548397969],
    [53.5405767644,	-113.548489651],
    [53.5407767615,	-113.548452936],
    [53.5412106535,	-113.548003625],
    [53.5415395469,	-113.54780742],
    [53.5418587225,	-113.548154837],
    [53.5420480124,	-113.548272383],
    [53.5422091646,	-113.548241238],
    [53.5423524101,	-113.548110224],
    [53.5427686775,	-113.547512671],
    [53.5430419922,	-113.547434228],
    [53.5431781705,	-113.547213417],
    [53.543603842, -113.546904814],
    [53.5440438611,	-113.546598943],
    [53.5441629839,	-113.546584297],
    [53.5442780352,	-113.546638166],
    [53.5444864715,	-113.546874222],
    [53.5446745227,	-113.547055514],
    [53.544765298, -113.547331962],
    [53.5448996334,	-113.54753936],
    [53.5455602595,	-113.547897988],
    [53.5456965779,	-113.547900034],
    [53.5456979862,	-113.548057412],
    [53.5456986059,	-113.548748914],
    [53.5451236058,	-113.548749016],
    [53.5451234686,	-113.5487031],
    [53.5451235384,	-113.54835376],
    [53.5447127585,	-113.54835362],
    [53.544597136, -113.548408596],
    [53.5444315097,	-113.548275681],
    [53.5439070119,	-113.548113259],
    [53.5436542455,	-113.548204895],
    [53.5430411146,	-113.548667838]
]

const Glenwood = [
    [53.5377955603,	-113.615019087],
    [53.5392900658,	-113.614979903],
    [53.5412852135,	-113.614874503],
    [53.5412805624,	-113.612838796],
    [53.5412843948,	-113.609289909],
    [53.5412915324,	-113.607527314],
    [53.5412898307,	-113.606032127],
    [53.5412920562,	-113.60453007],
    [53.5413027217,	-113.602674493],
    [53.5413006872,	-113.600909514],
    [53.5412936852,	-113.599179451],
    [53.5412946221,	-113.597384957],
    [53.541294941,	-113.595609318],
    [53.541299803,	-113.593822057],
    [53.5412874168,	-113.592081161],
    [53.5412950105,	-113.590325021],
    [53.5402567714,	-113.590298403],
    [53.5392085164,	-113.590288474],
    [53.5377274025,	-113.590312943],
    [53.5374864382,	-113.590314422],
    [53.5361815945,	-113.590305942],
    [53.5346332623,	-113.590329243],
    [53.5330855685,	-113.590340173],
    [53.5315304048,	-113.590345538],
    [53.5315418841,	-113.592078315],
    [53.5315522621,	-113.593832193],
    [53.531566799,	-113.597336075],
    [53.5315997176,	-113.602703304],
    [53.5316204968,	-113.607257375],
    [53.5316539726,	-113.610602483],
    [53.5316884346,	-113.615164138],
    [53.5356699051,	-113.615219681],
    [53.5375261307,	-113.615250683],
]

const Grovenor = [
[53.5400527487, -113.568264389],
[53.5402331124, -113.568913549],
[53.5400475036, -113.56956529],
[53.5401938034, -113.570384846],
[53.5410329677, -113.572549215],
[53.541149782, -113.572549505],
[53.5412622889, -113.572549136],
[53.5413071657, -113.572657837],
[53.5413088213, -113.573759834],
[53.5413747082, -113.573853871],
[53.541569751, -113.574058293],
[53.5419868284, -113.574113919],
[53.5421041241, -113.574271958],
[53.5421405833, -113.574744096],
[53.5421098437, -113.575956379],
[53.5420455343, -113.576598308],
[53.5417442333, -113.578050684],
[53.543284394, -113.578072518],
[53.5440214222, -113.578081942],
[53.546358563, -113.578099236],
[53.5486118118, -113.578089873],
[53.5495039283, -113.577993797],
[53.5510611563, -113.577965053],
[53.5510561429, -113.569224596],
[53.5509830564, -113.565824575],
[53.5487909718, -113.565761777],
[53.5486026011, -113.565771765],
[53.5477778025, -113.565752821],
[53.5467315381, -113.565751198],
[53.5463128629, -113.565749684],
[53.5456706957, -113.565731117],
[53.5440143569, -113.565731396],
[53.5429244063, -113.565705711],
[53.5421002237, -113.56568933],
[53.5412391313, -113.565685735],
[53.5403846164, -113.565669156],
[53.5397364701, -113.565666901],
[53.539741905, -113.56687815],
[53.5397857422, -113.567132244],
[53.5398935399, -113.567392073],
[53.5400518427, -113.567509473]
]

const LaPerle = [
    [53.5366559791,	-113.649433147],
    [53.537315656,	-113.639859397],
    [53.5374800405,	-113.635384783],
    [53.5376440028,	-113.630942809],
    [53.5377938467,	-113.627485711],
    [53.536582991,	-113.627476152],
    [53.5360309457,	-113.627577621],
    [53.5354525531,	-113.627801055],
    [53.5345130293,	-113.62830882],
    [53.5332198703,	-113.62922135],
    [53.5311464293,	-113.630472866],
    [53.5306389367,	-113.630665164],
    [53.5302073195,	-113.630692044],
    [53.528565928,	-113.630394134],
    [53.5284185589,	-113.631985011],
    [53.5283812445,	-113.633499622],
    [53.5284607896,	-113.634808972],
    [53.5287261663,	-113.636511157],
    [53.529245398,	-113.638577383],
    [53.5296205713,	-113.640313216],
    [53.529761602,	-113.641207613],
    [53.5298365512,	-113.642036232],
    [53.529872563,	-113.643064203],
    [53.5298980992,	-113.649105739],
    [53.5299280233,	-113.649328019],
    [53.5299225025,	-113.652107624],
    [53.5300721414,	-113.652107981],
    [53.5303272953,	-113.652110551],
    [53.5321370795,	-113.652114606],
    [53.5336366384,	-113.65211675],
    [53.5336917886,	-113.6521169],
    [53.5339538333,	-113.652118688],
    [53.5340261985,	-113.65211757],
    [53.5364480285,	-113.65211843],
    [53.5366822509,	-113.651795751] 
]

const McQueen = [
[53.5515302213, -113.565730938],
[53.5509830564, -113.565824575],
[53.5510561429, -113.569224596],
[53.5510611563, -113.577965053],
[53.5525978835, -113.57797193],
[53.5535522796, -113.577977294],
[53.5541562326, -113.577982717],
[53.55585047, -113.577986252],
[53.5588933997, -113.577972984],
[53.558837342, -113.572682911],
[53.5588231716, -113.565676447],
[53.5562253818, -113.56569322],
[53.5541507107, -113.565705181],
[53.5515302213, -113.565730938],
]

const North_Glenora = [
[53.5509787412, -113.549796964],
[53.5509675848, -113.555501139],
[53.5509608442, -113.561366415],
[53.5509830564, -113.565824575],
[53.5515302213, -113.565730938],
[53.5541507107, -113.565705181],
[53.5562253818, -113.56569322],
[53.5588231716, -113.565676447],
[53.5588296563, -113.555518044],
[53.5588405248, -113.552336696],
[53.5589209332, -113.551398206],
[53.5571156859, -113.550858316],
[53.5554984129, -113.550838283],
[53.5543836612, -113.550821067],
[53.552909412, -113.550787543],
[53.5509787412, -113.549796964]
]

const Oliver = [
[53.5464052585, -113.51287136],
[53.5463690486, -113.5123086],
[53.5463688484, -113.5119209],
[53.546234841, -113.512099099],
[53.5446057887, -113.512093925],
[53.5430145774, -113.512099524],
[53.5409394746, -113.512101256],
[53.5409369907, -113.510264266],
[53.5409375025, -113.509839193],
[53.5407981952, -113.509841091],
[53.5403795086, -113.50984197],
[53.5403795384, -113.50983521],
[53.5403247685, -113.50983533],
[53.5402844808, -113.509816908],
[53.5402445241, -113.509798965],
[53.5402049006, -113.509781492],
[53.5401634293, -113.509763531],
[53.5401253986, -113.5097474],
[53.5400869385, -113.509731438],
[53.5400514819, -113.509717034],
[53.5400191642, -113.509704322],
[53.5399799596, -113.50968923],
[53.5399407086, -113.509674483],
[53.5399065541, -113.509661957],
[53.5398668745, -113.509647798],
[53.5398300154, -113.509634973],
[53.539792761, -113.50962233],
[53.5397426432, -113.50960566],
[53.5396992364, -113.509591631],
[53.5396328041, -113.509571017],
[53.5395951864, -113.509559873],
[53.5395573628, -113.509548994],
[53.5395045169, -113.509534337],
[53.5394366832, -113.509517237],
[53.5393279426, -113.509491554], 
[53.5392557719, -113.509475477], 
[53.5392153356, -113.509466977], 
[53.5391750036, -113.509458862], 
[53.5391346468, -113.509451104], 
[53.5390938851, -113.509443635], 
[53.5390940944, -113.509347167],
[53.5388347268, -113.509351673], 
[53.5377494501, -113.509349508],
[53.5377220784, -113.50930361], 
[53.5373650587, -113.50930414],
[53.5372529116, -113.509347746], 
[53.5371446125, -113.509350438], 
[53.5357730959, -113.509354451],
[53.5355529632, -113.509354656], 
[53.5349106278, -113.509353824],
[53.5348560985, -113.50931939],
[53.5344715284, -113.50931988],
[53.5342111784, -113.50940062], 
[53.5341842484, -113.5094459],
[53.5340693167, -113.50950399], 
[53.5340699826, -113.510269862], 
[53.5340689304, -113.512106111], 
[53.5344583384, -113.512111138], 
[53.5344572786, -113.51303989], 
[53.5350079016, -113.513039942],
[53.5350086725, -113.513959133],
[53.5356625385, -113.513962542],
[53.5356619225, -113.51483973],
[53.5357775885, -113.51483918],
[53.5357776669, -113.514884161],
[53.5361872761, -113.51488309],
[53.5361874185, -113.514929151], 
[53.5361842387, -113.51579138], 
[53.5365964315, -113.515791628],
[53.5365979986, -113.51596823],
[53.5366028983, -113.51665906], 
[53.5364669183, -113.51665887], 
[53.5364675583, -113.51675079], 
[53.5364691487, -113.51691177],
[53.5366440285, -113.517443129],
[53.5366440887, -113.517810819],
[53.5371527886, -113.517810469],
[53.5372604383, -113.51781194],
[53.5373668084, -113.518499679],
[53.5373665186, -113.51857305],
[53.5372989483, -113.518573009],
[53.5373638185, -113.518891269],
[53.5373679744, -113.518891297],
[53.5373694685, -113.519281859],
[53.5373729485, -113.519650639],
[53.5375064487, -113.519650479],
[53.5375067884, -113.520072959],
[53.5375976984, -113.52034065],
[53.5376295085, -113.52043259],
[53.5377828685, -113.52043234],
[53.5377838735, -113.521305814],
[53.5388499866, -113.521285934],
[53.5388451219, -113.522220473],
[53.5391771013, -113.523143174],
[53.539321544, -113.524778673],
[53.5393689686, -113.524979128],
[53.5397433078, -113.526806681],
[53.5400709417, -113.528460307],
[53.5403918475, -113.530730197],
[53.5403318471, -113.530876345],
[53.5403576703, -113.531055993],
[53.5404716175, -113.531866968],
[53.5404443564, -113.531867445],
[53.5405649086, -113.53283525],
[53.5407075685, -113.53396157],
[53.5407521784, -113.53426499],
[53.5408029626, -113.534596853],
[53.5408344351, -113.534778833],
[53.5408762518, -113.53500009],
[53.5408826744, -113.53503233],
[53.540895186, -113.535093945],
[53.5409079764, -113.535155398],
[53.5409210451, -113.535216686],
[53.5409343214, -113.535277488],
[53.5409479445, -113.535338439],
[53.5409618434, -113.535399215],
[53.5409760175, -113.535459811],
[53.5409904062, -113.535519978],
[53.541003654, -113.535574237],
[53.5410171229, -113.535628343],
[53.5410308126, -113.535682293],
[53.5410447222, -113.535736084],
[53.5411017785, -113.53594687],
[53.5411150828, -113.535993558],
[53.5412956437, -113.535993614],
[53.541450505, -113.535984341],
[53.5414208051, -113.535880938],
[53.5430238302, -113.535899607],
[53.5446128461, -113.535896992],
[53.5468854225, -113.53589185],
[53.5466590999, -113.534120703],
[53.5464589484, -113.532396872],
[53.5462645481, -113.530829746],
[53.547789541, -113.530836922],
[53.5480956387, -113.530839055],
[53.5481737971, -113.530913384],
[53.5493811248, -113.530921677],
[53.5498969308, -113.530908026],
[53.5493900968, -113.530618093],
[53.549032299, -113.530348591],
[53.5489365064, -113.530255481],
[53.5489105972, -113.530117578],
[53.5487612967, -113.529952518],
[53.5484902903, -113.529579794],
[53.5482403153, -113.529120294],
[53.5480662825, -113.528684729],
[53.5479729604, -113.528245033],
[53.5477956378, -113.527437171],
[53.5477481101, -113.527218096],
[53.5477529495, -113.526626137],
[53.5477799986, -113.52662602],
[53.5477809323, -113.521491122],
[53.5477804185, -113.52112225],
[53.5477809386, -113.51370929]
]

const Summerlea = [
    [53.5286043104,	-113.629141317],
    [53.5287017767,	-113.62799201],
    [53.5288501094,	-113.626957866],
    [53.5291611486,	-113.625801569],
    [53.5295637883,	-113.624608388],
    [53.5301392843,	-113.623363272],
    [53.5308591485,	-113.621775749],
    [53.5311593684,	-113.620863505],
    [53.5314271404,	-113.61985904],
    [53.5316152889,	-113.618842417],
    [53.5316845269,	-113.617929521],
    [53.5317104693,	-113.617088255],
    [53.5316884346,	-113.615164138],
    [53.5248593162,	-113.615355683],
    [53.5195544726,	-113.615315966],
    [53.5195426391,	-113.616796623],
    [53.5196467013,	-113.618798341],
    [53.5197801966,	-113.620266464],
    [53.5199738931,	-113.621761283],
    [53.5203072057,	-113.62370572],
    [53.5208942602,	-113.62732468],
    [53.52128898,	-113.630468689],
    [53.5237486064,	-113.62998999],
    [53.5246719432,	-113.629934415],
    [53.5255018681,	-113.629926345],
    [53.5263212897,	-113.629966615],
    [53.5270341975,	-113.6300763],
    [53.528565928,	-113.630394134],
]

const Terra_Losa = [
[53.5356699051,	-113.615219681],
[53.5316884346,	-113.615164138],
[53.5317104693,	-113.617088255],
[53.5316845269,	-113.617929521],
[53.5316152889,	-113.618842417],
[53.5314271404,	-113.61985904],
[53.5311593684,	-113.620863505],
[53.5308591485,	-113.621775749],
[53.5301392843,	-113.623363272],
[53.5295637883,	-113.624608388],
[53.5291611486,	-113.625801569],
[53.5288501094,	-113.626957866],
[53.5287017767,	-113.62799201],
[53.5286043104,	-113.629141317],
[53.528565928,	-113.630394134],
[53.5302073195,	-113.630692044],
[53.5306389367,	-113.630665164],
[53.5311464293,	-113.630472866],
[53.5332198703,	-113.62922135],
[53.5345130293,	-113.62830882],
[53.5354525531,	-113.627801055],
[53.5360309457,	-113.627577621],
[53.536582991,	-113.627476152],
[53.5377938467,	-113.627485711],
[53.5379066718,	-113.626834255],
[53.5379561189,	-113.625781507],
[53.5379976501,	-113.625248076],
[53.5380204723,	-113.624810976],
[53.538008796,	-113.624449222],
[53.5379410224,	-113.623928486],
[53.5377442639,	-113.622872035],
[53.5377108393,	-113.622561873],
[53.5377005694,	-113.622160362],
[53.5377356172,	-113.620153532],
[53.5378261847,	-113.62015285],
[53.5378270186,	-113.61594953],
[53.5378303122,	-113.615705278],
[53.5375261307,	-113.615250683],
]

const Crestwood = [
    [53.5379525778,	-113.565629217],
[53.5375833724,	-113.565583799],
[53.5373470909,	-113.560725307],
[53.5372712296,	-113.56043674],
[53.5371671589,	-113.560214756],
[53.537238137,	-113.560106286],
[53.5375621592,	-113.559063468],
[53.5375625219,	-113.557357369],
[53.5374091684,	-113.555816127],
[53.5363090763,	-113.557865532],
[53.5359795516,	-113.55890502],
[53.5358732761,	-113.559702116],
[53.5355061675,	-113.560060757],
[53.5353125977,	-113.560145416],
[53.5351188759,	-113.56018875],
[53.53464462,	-113.560100681],
[53.5344356444,	-113.560180333],
[53.533672213,	-113.56069216],
[53.5322199293,	-113.560946459],
[53.5320178822,	-113.5608114],
[53.5319902544,	-113.560370581],
[53.5304242759,	-113.560646777],
[53.5300634209,	-113.560519701],
[53.5301642355,	-113.561235257],
[53.5301839833,	-113.56186056],
[53.5302295259,	-113.562684227],
[53.5302787094,	-113.563062835],
[53.5304642767,	-113.563572653],
[53.5307842626,	-113.563926937],
[53.5310233875,	-113.564026959],
[53.5314009232,	-113.564138634],
[53.5315796676,	-113.564289805],
[53.5315796583,	-113.564405442],
[53.5311962215,	-113.564612001],
[53.5300050675,	-113.564612544],
[53.5300049561,	-113.565573351],
[53.5299889671,	-113.565710826],
[53.5296234944,	-113.565717756],
[53.5296220485,	-113.56587476],
[53.5296264085,	-113.56968382],
[53.5298619984,	-113.57034522],
[53.5300207686,	-113.57105501],
[53.5305185085,	-113.57169562],
[53.5305194884,	-113.57257926],
[53.5304342487,	-113.57288057],
[53.5308663484,	-113.57542051],
[53.5310184284,	-113.57611925],
[53.5310189042,	-113.576268579],
[53.5315150941,	-113.576270816],
[53.5315221749,	-113.578002811],
[53.5330666242,	-113.577989772],
[53.5346213798,	-113.577987023],
[53.5361713005,	-113.577979692],
[53.5377183058,	-113.57798018],
[53.5392591349,	-113.578029754],
[53.5412450481,	-113.57804393],
[53.5412359618,	-113.576264286],
[53.5412291313,	-113.575568486],
[53.5407490341,	-113.574521777],
[53.5399522822,	-113.572802681],
[53.5399157596,	-113.572560427],
[53.5395010809,	-113.571151939],
[53.5390948225,	-113.571021821],
[53.5390866478,	-113.570613138],
[53.5389450389,	-113.569291797],
[53.5389179239,	-113.568965692],
[53.5386990537,	-113.567838355],
[53.5385992566,	-113.567501104],
]

const West_Jasper_Place = [
[53.5330666242,	-113.577989772],
[53.5315221749,	-113.578002811],
[53.531521972,	-113.579789437],
[53.5315177314,	-113.581548842],
[53.5315209574,	-113.583296454],
[53.5315211165,	-113.585039704],
[53.5315155093,	-113.586819562],
[53.5315168769,	-113.588581592],
[53.5315304048,	-113.590345538],
[53.5330855685,	-113.590340173],
[53.5346332623,	-113.590329243],
[53.5361815945,	-113.590305942],
[53.5374864382,	-113.590314422],
[53.5377274025,	-113.590312943],
[53.5392085164,	-113.590288474],
[53.5402567714,	-113.590298403],
[53.5412950105,	-113.590325021],
[53.5412893547,	-113.58855471],
[53.5412912608,	-113.586789167],
[53.5412857328,	-113.585033145],
[53.5412844937,	-113.583285591],
[53.5412737928,	-113.581532899],
[53.5413112409,	-113.579769293],
[53.5417442333,	-113.578050684],
[53.5412450481,	-113.57804393],
[53.5392591349,	-113.578029754],
[53.5377183058,	-113.57798018],
[53.5361713005,	-113.577979692],
[53.5346213798,	-113.577987023],
]

const High_Park = [
[53.5535522796,	-113.577977294],
[53.5525978835,	-113.57797193],
[53.5510611563,	-113.577965053],
[53.5510447083,	-113.579827795],
[53.5510534765,	-113.581590569],
[53.5510457797,	-113.583351482],
[53.5510508811,	-113.585092335],
[53.5510491788,	-113.586868071],
[53.5510827138,	-113.588617146],
[53.5511130919,	-113.590361406],
[53.5514024482,	-113.590435359],
[53.5526152222,	-113.590432034],
[53.554157096,	-113.590412374],
[53.555961607,	-113.590416065],
[53.5589268566,	-113.590401764],
[53.5589117141,	-113.587235517],
[53.5588885611,	-113.584190472],
[53.5588891526,	-113.581160239],
[53.5588920514,	-113.579640699],
[53.5588933997,	-113.577972984],
[53.55585047,	-113.577986252],
[53.5541562326,	-113.577982717],
[53.5536228065,	-113.577977927],
]

const Mayfield = [
[53.5589291212,	-113.59881888],
[53.5589248366,	-113.594249077],
[53.5589268566,	-113.590401764],
[53.555961607,	-113.590416065],
[53.554157096,	-113.590412374],
[53.5526152222,	-113.590432034],
[53.5514024482,	-113.590435359],
[53.5511130919,	-113.590361406],
[53.5511069444,	-113.591184212],
[53.5512825851,	-113.5936307],
[53.551308677,	-113.595703518],
[53.5513039531,	-113.602819176],
[53.5512660683,	-113.608913175],
[53.5519404954,	-113.608416838],
[53.5559486991,	-113.605173065],
[53.5577438625,	-113.603793712],
[53.5582020135,	-113.603214872],
[53.5585651331,	-113.602438785],
[53.5588099547,	-113.601564732],
[53.5589012197,	-113.600632677],
[53.5589291212,	-113.59881888],
]

const Britania_Youngstown = [
[53.5495088704,	-113.590366157],
[53.5487076543,	-113.590369161],
[53.5479573863,	-113.59034954],
[53.5464036876,	-113.590330573],
[53.5448582611,	-113.590335137],
[53.5433090107,	-113.590313904],
[53.5412950105,	-113.590325021],
[53.5412874168,	-113.592081161],
[53.541299803,	-113.593822057],
[53.541294941,	-113.595609318],
[53.5412946221,	-113.597384957],
[53.5412936852,	-113.599179451],
[53.5413006872,	-113.600909514],
[53.5413027217,	-113.602674493],
[53.5412920562,	-113.60453007],
[53.5412898307,	-113.606032127],
[53.5412915324,	-113.607527314],
[53.5412843948,	-113.609289909],
[53.5412805624,	-113.612838796],
[53.5412852135,	-113.614874503],
[53.5424163661,	-113.614885817],
[53.5430723348,	-113.615066208],
[53.5434963239,	-113.615426182],
[53.5437906694,	-113.614917712],
[53.5449754766,	-113.613872726],
[53.5463205902,	-113.61266656],
[53.54843805,	-113.610994231],
[53.5512660683,	-113.608913175],
[53.5513039531,	-113.602819176],
[53.551308677,	-113.595703518],
[53.5512825851,	-113.5936307],
[53.5511069444,	-113.591184212],
[53.5511130919,	-113.590361406],
[53.5495088704,	-113.590366157],
]

const Breckenridge_Greens = [
[53.5144658058,	-113.678273262],
[53.513381247,	-113.677808821],
[53.5122249952,	-113.67760395],
[53.5122322061,	-113.688756552],
[53.5205325209,	-113.688811192],
[53.5204743144,	-113.685329109],
[53.5205036104,	-113.683821977],
[53.5205906229,	-113.68282986],
[53.5208264484,	-113.681527216],
[53.5184017262,	-113.680765158],
[53.5171836583,	-113.680314042],
[53.5165073135,	-113.679906074],
[53.5144658058,	-113.678273262],
]

const Kiniski_Gardens = [
[53.4758147585,	-113.41311145],
[53.4762327864,	-113.412467943],
[53.4762393491,	-113.412458503],
[53.4773699689,	-113.410716673],
[53.4775021681,	-113.410512694],
[53.4782043185,	-113.409431189],
[53.4787182286,	-113.408638858],
[53.4805249084,	-113.405540569],
[53.4805321199,	-113.40546361],
[53.4826132878,	-113.401893109],
[53.4827090698,	-113.401730212],
[53.4827800133,	-113.401608909],
[53.4829955519,	-113.401205063],
[53.4851527572,	-113.397261627],
[53.4863857413,	-113.394996881],
[53.4870502091,	-113.393768581],
[53.4847686548,	-113.393717528],
[53.4830762047,	-113.393712245],
[53.4804507427,	-113.393693407],
[53.4729305015,	-113.393641371],
[53.4676361,	-113.393755977],
[53.4654504108,	-113.393804274],
[53.4654515684,	-113.39432491],
[53.4651599504,	-113.394962892],
[53.4650518612,	-113.395068626],
[53.4649090843,	-113.39505099],
[53.4648447982,	-113.39529818],
[53.4647972888,	-113.396344616],
[53.4650156363,	-113.39638903],
[53.4654647313,	-113.39653772],
[53.4657777845,	-113.396681346],
[53.4661589808,	-113.396964425],
[53.4658931169,	-113.398845995],
[53.4657774749,	-113.399358119],
[53.4656763151,	-113.39970355],
[53.4658225348,	-113.399875715],
[53.4667645799,	-113.401088063],
[53.4671250776,	-113.40158501],
[53.467319756,	-113.402016167],
[53.4674727613,	-113.402442944],
[53.4676643084,	-113.403212889],
[53.4676960355,	-113.403536745],
[53.4677917853,	-113.403515593],
[53.4684634977,	-113.404198042],
[53.4684803485,	-113.40586309],
[53.4691622234,	-113.405987923],
[53.4696238993,	-113.407206454],
[53.4700137706,	-113.407515181],
[53.4698284525,	-113.408761905],
[53.4697827637,	-113.409389027],
[53.4699433884,	-113.4094872],
[53.4703604885,	-113.40997993],
[53.4703603873,	-113.410115667],
[53.4709069182,	-113.410434516],
[53.4709911152,	-113.411794172],
[53.4722971507,	-113.411915762],
[53.4724820332,	-113.413220909],
[53.4729461475,	-113.413149251],
[53.4732443929,	-113.413164358],
[53.4737784778,	-113.413317651],
[53.4741676938,	-113.413417074],
[53.4743582056,	-113.413424407],
[53.4745331576,	-113.413400949],
[53.4748237565,	-113.413283535],
[53.4750866246,	-113.413100497],
[53.4753108901,	-113.412841099],
[53.4753833907,	-113.412814467],
[53.4754448332,	-113.412871288],
[53.4756076416,	-113.413330391],
[53.4756265032,	-113.413400723],
[53.4756961784,	-113.4132942],
[53.4758147585,	-113.41311145],
]

const Rosenthal = [
[53.526677903,	-113.713644703],
[53.5266784973,	-113.713341292],
[53.5266779687,	-113.713263268],
[53.5266791427,	-113.689171855],
[53.5266767774,	-113.688949449],
[53.5205325209,	-113.688811192],
[53.5122322061,	-113.688756552],
[53.5121306886,	-113.68913162],
[53.5121161766,	-113.713592802],
[53.5165074652,	-113.713607694],
[53.5194197886,	-113.713618129],
[53.526677903,	-113.713644703],
]

const Potter_Greens = [
[53.5243548123,	-113.67297393],
[53.5241996208,	-113.672408422],
[53.5239170284,	-113.67123851],
[53.5237856413,	-113.670654533],
[53.5236945471,	-113.670141787],
[53.5235969173,	-113.669431572],
[53.5235524873,	-113.66819345],
[53.5235374513,	-113.667700474],
[53.5233857286,	-113.665646059],
[53.5205219177,	-113.665637127],
[53.5204254624,	-113.664488101],
[53.5194740985,	-113.66448456],
[53.5171046641,	-113.664477537],
[53.5165200073,	-113.664819968],
[53.5151507584,	-113.66562064],
[53.5123385287,	-113.66561242],
[53.5122368129,	-113.665611032],
[53.5122249952,	-113.67760395],
[53.513381247,	-113.677808821],
[53.5144658058,	-113.678273262],
[53.5165073135,	-113.679906074],
[53.5171836583,	-113.680314042],
[53.5184017262,	-113.680765158],
[53.5208264484,	-113.681527216],
[53.521332861,	-113.678452932],
[53.5216226316,	-113.677304048],
[53.5219949825,	-113.676296778],
[53.5224905874,	-113.675271304],
[53.5229662582,	-113.674609568],
[53.5243548123,	-113.67297393],
]

const Secord = [
[53.5395594206,	-113.688864529],
[53.5379696582,	-113.689044707],
[53.536205239,	-113.689055021],
[53.5278019546,	-113.688974771],
[53.5266767774,	-113.688949449],
[53.5266791427,	-113.689171855],
[53.5266779687,	-113.713263268],
[53.5266784973,	-113.713341292],
[53.526677903,	-113.713644703],
[53.5339160279,	-113.713672068],
[53.5411974323,	-113.713706981],
[53.5411963757,	-113.713534781],
[53.541195425,	-113.699997059],
[53.541167488,	-113.694434557],
[53.541160271,	-113.688540449],
[53.5395594206,	-113.688864529],
]

const Webber_Greens = [
[53.5339119119,	-113.684927742],
[53.5339146432,	-113.682849621],
[53.5339229884,	-113.676660619],
[53.5339238019,	-113.675897202],
[53.5339242515,	-113.675243432],
[53.5339239873,	-113.674586489],
[53.5339240644,	-113.674253408],
[53.5339251136,	-113.673254377],
[53.5339254233,	-113.672801667],
[53.5339256939,	-113.671764431],
[53.533926905,	-113.670242813],
[53.5339302817,	-113.664379072],
[53.5266992203,	-113.664356843],
[53.5267001226,	-113.664509946],
[53.5266992257,	-113.665656808],
[53.526696978,	-113.668036621],
[53.5281054473,	-113.668485191],
[53.5283758073,	-113.669493148],
[53.5281903104,	-113.67027288],
[53.5278932967,	-113.671003825],
[53.5276130375,	-113.671801964],
[53.5274380423,	-113.672447344],
[53.5271595174,	-113.673521717],
[53.5267825047,	-113.673521321],
[53.5267804514,	-113.675700987],
[53.5266901577,	-113.67562612],
[53.5266892651,	-113.676249466],
[53.5266887493,	-113.67651748],
[53.5266874258,	-113.678406282],
[53.5267794066,	-113.678295648],
[53.5269379569,	-113.678102347],
[53.5271793411,	-113.677487022],
[53.5274000917,	-113.677072645],
[53.5274904146,	-113.676816081],
[53.527772965,	-113.677250385],
[53.5280898639,	-113.677945972],
[53.5284696658,	-113.679197357],
[53.5286315342,	-113.68011426],
[53.5287263419,	-113.681129651],
[53.5287062457,	-113.682122018],
[53.5285835424,	-113.683010204],
[53.5282348141,	-113.684415252],
[53.5279559117,	-113.685919526],
[53.5278555639,	-113.687194313],
[53.5278147543,	-113.688974893],
[53.5339061173,	-113.689033062],
[53.5339102633,	-113.686032177],
[53.5339119119,	-113.684927742],
]

const Westview_Village = [
[53.5558805793,	-113.701296648],
[53.5559553112,	-113.692318444],
[53.5559436298,	-113.692318169],
[53.5559690286,	-113.689251063],
[53.5559193918,	-113.689012993],
[53.5517734004,	-113.689008922],
[53.5484761143,	-113.689025455],
[53.5484751104,	-113.689262172],
[53.5485080374,	-113.704323128],
[53.5545215722,	-113.704329455],
[53.5544109775,	-113.713354962],
[53.5544078234,	-113.713812429],
[53.5552648443,	-113.713814019],
[53.5552648902,	-113.713735834],
[53.5555690593,	-113.713736396],
[53.5555545182,	-113.713432851],
[53.5557878458,	-113.707937385],
[53.555868896,	-113.7012967],
[53.5558805793,	-113.701296648],
]

const Suder_Greens = [
[53.5266992203,	-113.664356843],
[53.5259299218,	-113.664354478],
[53.525843447,	-113.66450495],
[53.5251862761,	-113.665651871],
[53.5233857286,	-113.665646059],
[53.5235374513,	-113.667700474],
[53.5235524873,	-113.66819345],
[53.5235969173,	-113.669431572],
[53.5236945471,	-113.670141787],
[53.5237856413,	-113.670654533],
[53.5239170284,	-113.67123851],
[53.5241996208,	-113.672408422],
[53.5243548123,	-113.67297393],
[53.5229662582,	-113.674609568],
[53.5224905874,	-113.675271304],
[53.5219949825,	-113.676296778],
[53.5216226316,	-113.677304048],
[53.521332861,	-113.678452932],
[53.5208264484,	-113.681527216],
[53.5205906229,	-113.68282986],
[53.5205036104,	-113.683821977],
[53.5204743144,	-113.685329109],
[53.5205325209,	-113.688811192],
[53.5278019546,	-113.688974771],
[53.5278147543,	-113.688974893],
[53.5278555639,	-113.687194313],
[53.5279559117,	-113.685919526],
[53.5282348141,	-113.684415252],
[53.5285835424,	-113.683010204],
[53.5287062457,	-113.682122018],
[53.5287263419,	-113.681129651],
[53.5286315342,	-113.68011426],
[53.5284696658,	-113.679197357],
[53.5280898639,	-113.677945972],
[53.527772965,	-113.677250385],
[53.5274904146,	-113.676816081],
[53.5274000917,	-113.677072645],
[53.5271793411,	-113.677487022],
[53.5269379569,	-113.678102347],
[53.5267794066,	-113.678295648],
[53.5266874258,	-113.678406282],
[53.5266887493,	-113.67651748],
[53.5266892651,	-113.676249466],
[53.5266901577,	-113.67562612],
[53.5267804514,	-113.675700987],
[53.5267825047,	-113.673521321],
[53.5271595174,	-113.673521717],
[53.5274380423,	-113.672447344],
[53.5276130375,	-113.671801964],
[53.5278932967,	-113.671003825],
[53.5281903104,	-113.67027288],
[53.5283758073,	-113.669493148],
[53.5281054474,	-113.66848519],
[53.526696978,	-113.668036621],
[53.5266992257,	-113.665656808],
[53.5267001226,	-113.664509946],
[53.5266992203,	-113.664356843],
]


const lat = []
const lon = []
const temp = []
// console.log(temp)
//===============================================================
chartIt()    
async function chartIt() {
    await getData() 
    const ctx = document.getElementById('mapid')

    }
    async function getData() {
        const response = await fetch('by.csv')
        const data = await response.text()

        const table = data.split('\n').slice(1)
        table.forEach(row => {
            const columns = row.split(',')
            const latitude = parseFloat(columns[4])
                // console.log(latitude)
            const longitude = parseFloat(columns[3])
            console.log(longitude)
           temp.push([latitude, longitude])
        })
    } 
//===============================================================
const mymap = L.map('mapid').setView([53.535, -113.630], 12);

const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors })'

const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
const tiles = L.tileLayer(tileUrl, { attribution })
tiles.addTo(mymap)
// var polygon = L.polygon([ abbottsfield ]).addTo(mymap);
var polygon = L.polygon([ Aldergrove ]).addTo(mymap);
var polygon = L.polygon([ Belmead ]).addTo(mymap);
var polygon = L.polygon([ Breckenridge_Greens ]).addTo(mymap);
var polygon = L.polygon([ Britania_Youngstown ]).addTo(mymap);
var polygon = L.polygon([ Canora ]).addTo(mymap);
var polygon = L.polygon([ Crestwood ]).addTo(mymap);
var polygon = L.polygon([ Glenora ]).addTo(mymap);
var polygon = L.polygon([ Glenwood ]).addTo(mymap);
var polygon = L.polygon([ Grovenor ]).addTo(mymap);
var polygon = L.polygon([ High_Park ]).addTo(mymap);
// var polygon = L.polygon([ Kiniski_Gardens ]).addTo(mymap);
var polygon = L.polygon([ LaPerle ]).addTo(mymap);
var polygon = L.polygon([ Mayfield ]).addTo(mymap);
var polygon = L.polygon([ McQueen ]).addTo(mymap);
var polygon = L.polygon([ North_Glenora ]).addTo(mymap);
var polygon = L.polygon([ Potter_Greens ]).addTo(mymap);
var polygon = L.polygon([ Rosenthal ]).addTo(mymap);
var polygon = L.polygon([ Secord ]).addTo(mymap);
var polygon = L.polygon([ Suder_Greens ]).addTo(mymap);
var polygon = L.polygon([ Terra_Losa ]).addTo(mymap);
var polygon = L.polygon([ Webber_Greens ]).addTo(mymap);
var polygon = L.polygon([ West_Jasper_Place ]).addTo(mymap);
var polygon = L.polygon([ Westview_Village ]).addTo(mymap);
// var polygon = L.polygon([ Oliver ]).addTo(mymap);
// var polygon = L.polygon([ Summerlea ]).addTo(mymap);


  </script>
<%- include('./partials/footer'); %>


